:root {
  /* Colores primarios */
  --c-p-principal: #69B940;
  --c-p-background: #ffffff;
  --c-p-nav: #28855E;
  --c-p-hover-click: #DBF7DF;
  --c-p-hover: #ffffff;
  --c-texto: #000000
  /* Pie de página */
  --c--pie-1: #28855E;

  /* Colores secundarios */
  --c-secundario-1: #175C3F;
  --c-secundario-2: #0E3A1C;
  --c-secundario-3: #072110;

  /* Fuentes */
  --f-manrope: "Manrope", sans-serif;
}
    /*Titulos*/ 
.manrope-extrabold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
    /*Subtitulos*/
.manrope-semibold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
    /*Items*/
    .manrope-medium {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
    /*Textos*/
.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.manrope-light {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
}

.manrope-extralight {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


